<div class="alert alert-danger" [hidden]="!error">
  There was a problem logging in. Please try again.
</div>
<form name="form-signin" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
  <ngb-alert *ngIf="errorMessage" (close)="closeAlert()">{{errorMessage}}</ngb-alert>
  <span id="reauth-email" class="reauth-email"></span>
  <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
    <label for="username">Username</label>
    <input type="text" class="form-control" id="username" name="username"
           [(ngModel)]="user.username" #username="ngModel" required autocomplete="username"/>
  </div>
  <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
    <label for="password">Password</label>
    <input type="password" class="form-control" id="password" name="password" [(ngModel)]="user.password"
           #password="ngModel" autocomplete="current-password"/>
    <div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div>
  </div>
  <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Sign in</button>
</form><!-- /form -->
