<h2>Planning Poker Liste</h2>
<form #searchForm="ngForm" (ngSubmit)="searchPlanningPoker(id.value, searchResult);id.value=''">
  <div class="input-group">
    <input type="number" class="form-control" aria-label="Planning Poker Nummer" placeholder="Planning Poker Nummer"
           name="id" #id required>
    <div class="input-group-append">
      <button class="btn" type="submit"><i class="fas fa-search"></i></button>
    </div>
  </div>
</form>
<br/>
<h3>Deine Planning Pokers</h3>
<div class="card-deck" *ngIf="ownPlanningpokers">
  <div class="card btn btn-light" style="width: 18rem;" *ngFor="let planningpoker of ownPlanningpokers"
       [routerLink]="['/planningpoker-rate/' + planningpoker.id]">
    <div class="card-body">
      <h5 class="card-title">{{planningpoker.name}}</h5>
      <h6 class="card-subtitle mb-2 text-muted">{{ planningpoker.id }}</h6>
      <p class="card-text">{{ planningpoker.description }}</p>
      <a class="card-link" [routerLink]="['/planningpoker-edit', planningpoker.id]"><i
        class="fas fa-edit"></i> Bearbeiten</a>
      <p class="card-text">
        <small class="text-muted">{{planningpoker.date | date : "EEEE, dd.MM.yyyy HH:mm" }}</small>
      </p>
    </div>
  </div>
  <div class="card btn btn-light" style="width: 18rem; justify-content: center;" [routerLink]="['/planningpoker-add']">
    <i class="fas fa-plus"></i> Neu
  </div>
</div>

<h3>Beigetretene Planning Pokers</h3>
<div class="card-deck" *ngIf="joinedPlanningpokers">
  <div class="card btn btn-light" style="width: 18rem;" *ngFor="let planningpoker of joinedPlanningpokers"
       [routerLink]="['/planningpoker-rate/' + planningpoker.id]">
    <div class="card-body">
      <h5 class="card-title">{{planningpoker.name}}</h5>
      <h6 class="card-subtitle mb-2 text-muted">{{ planningpoker.id }}</h6>
      <p class="card-text">{{ planningpoker.description }}</p>
      <p class="card-text">
        <small class="text-muted">{{planningpoker.date | date : "EEEE, dd.MM.yyyy HH:mm" }}</small>
      </p>
    </div>
  </div>
</div>

<h3>Eingeladene Planning Pokers</h3>
<div class="card-deck" *ngIf="invitedPlanningpokers">
  <div class="card btn btn-light" style="width: 18rem;" *ngFor="let planningpoker of invitedPlanningpokers"
       (click)="showInvitation(planningpoker, invitation)">
    <div class="card-body">
      <h5 class="card-title">{{planningpoker.name}}</h5>
      <h6 class="card-subtitle mb-2 text-muted">{{ planningpoker.id }}</h6>
      <p class="card-text">{{ planningpoker.description }}</p>
      <p class="card-text">
        <small class="text-muted">{{planningpoker.date | date : "EEEE, dd.MM.yyyy HH:mm" }}</small>
      </p>
    </div>
  </div>
</div>

<ng-template #searchResult let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">{{searchedPlanningpoker.name}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="c('close')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    {{searchedPlanningpoker.description}}
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="joinPlanningpoker(searchedPlanningpoker);c('close')">
      Beitreten
    </button>
    <button type="button" class="btn btn-secondary" (click)="c('close')">Schließen</button>
  </div>
</ng-template>

<ng-template #invitation let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">{{invitedPlanningpoker.name}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="c">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    Möchten Sie dem Planning Poker "{{invitedPlanningpoker.name}}: {{invitedPlanningpoker.description}}" beitreten?
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="joinPlanningpoker(invitedPlanningpoker);c('close')">
      Beitreten
    </button>
    <button type="button" class="btn btn-danger" (click)="rejectInvitation(invitedPlanningpoker);c('close')">
      Ablehnen
    </button>
    <button type="button" class="btn btn-secondary" (click)="c('close')">Schließen</button>
  </div>
</ng-template>
